body {
    font-family: "Montserrat";
}

.container {
    width: 80%;
    margin: 0 auto;
    min-width: 570px;
    max-width: 1440px;
    box-sizing: border-box;
}

.display-block {
    display: block;
}

.hidden {
    display: none;
}