.header {
    min-height: 71px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-wrapper {
        display: flex;
        align-items: center;
    }

    &-logo {
        height: 65px;
        width: auto;
        margin: 0 0 0 50px;
    }

    &-title {
        @include font(22px, 1.28, 700);
        margin: 0 0 0 15px;
        text-transform: uppercase;
    }
}

.profile-link {
    margin: 0 200px 0 0;

    &:hover,
    &:focus {
        cursor: pointer;
        opacity: 0.7;
    }
}